{% load static %}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
	<!-- audio -->
	<link rel="stylesheet" href="{% static 'css/jplayer.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/audioplay.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/responsiveplay.css' %}" type="text/css">

</head>
<body style="background-color: #151515;">
<!-- audio -->
<br><br><br><br><br>
<div class="music-banner-player">
    <div class="container">
        <div class="music-player-thumb">
            <div id="jquery_jplayer_17" class="jp-jplayer"></div>
            {% for itens in inicial_playlist %}
            <div id="current-track1" class="song-title">
            {{itens.title}} 
           <small>{{itens.music}}</small>
            </div>
            {% endfor %}
        </div>
        <div id="jp_container_17" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-playlist">
                <div class="jp-playlist">
                    <ul>
                        <li>&nbsp;</li>
                    </ul>
                </div>
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <span class="jp-previous"><i class="fa fa-step-backward"></i></span>
                        <span class="jp-play"><i class="fa fa-pause"></i> <i class="fa fa-play"></i></span>
                        <span class="jp-next"><i class="fa fa-step-forward"></i></span>
                    </div>
                    <div class="music-player-wrap">
                        <div class="jp-time-holder">
                            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                            <div class="jp-duration" role="timer" aria-label="duration">/&nbsp;</div>
                        </div>
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="jp-volume-controls">
                        <span class="jp-mute"><i class="fa fa-volume-up"></i> <i class="fa fa-volume-off"></i></span>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
<script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.jplayer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jplayer.playlist.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jplayer.functions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
</body>
</html>